<!-- fragments.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Fragments</title>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet">
</head>
<body>

<!-- Header fragment -->
<div th:fragment="header">
    <header>
        <div class="header-content">
            <div class="left">
                <div class="home-link">
                    <a href="/"><i class="ri-home-2-fill home-icon"></i> Gestion de turnos</a>
                </div>
                <!-- <a href="/about">Acerca de</a> -->
            </div>
            <div class="right" id="header-right">
                <!--aca contenido depende de JS logica -->
            </div>
        </div>
    </header>
</div>

<!-- Footer fragment -->
<div th:fragment="footer">
    <footer>
        <div class="footer-content">
            <p>Copyright &copy; 2025</p>
        </div>
    </footer>
</div>

</body>
</html>
